body {
    overflow-x: hidden;
}
.loader {
    border: 6px solid #f3f3f3;
    /* لون الخلفية */
    border-top: 6px solid #3498db;
    /* لون الجزء المتحرك */
    border-radius: 50%;
    /* لتشكيل دائرة */
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    /* حركة الدوران */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}